/* ChatFooter.css */
.chat-footer {
  display: flex;
  
  border-top: 1px solid #ecf0f1;
}

.chat-footer input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  box-sizing: border-box;
}

.chat-footer button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #2980b9;
}
