/* ChatBar.css */
.chat__sidebar {
 h2{
  margin-left: 15px;
 }
 .search-input{
  margin-left: 15px;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-bottom: 20px;
 }
 .chat__header{
  margin-top: 10px;
  margin-left: 15px;
  color: blue;
  
 }
}



