.login-page {

  background: linear-gradient(to bottom right, #F8B602, #ffcc00); /* Màu vàng loang */

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

}
.logo-login{
   margin-bottom: 20px;
}
.login-container {

  background-color: #fff; /* Màu trắng cho form */

  padding: 65px;

  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

